@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccfccb;
}
.container{
    width: 80%;
    height: 80vh;
    border: 1px solid;
    border-radius: 20px;
    
}
.image-enter {
    width: 40%;
    height: 50vh;
    display: flex;
    justify-content: center;
    

}